<h2>Add your quote below</h2>

<div class="row pos">
  <div class="col-lg-12">
    <form action="" #quoteForm = "ngForm">
      
        <label for="">Qoute</label>
        <div class="form-control">
      <textarea rows = "12" type="text" name =" quote" [(ngModel)]= "newQuote.quote" #quote = "ngModel"></textarea>
      <div [hidden]="quote.valid || quote.pristine" >
        <p>Field Cannot be empty</p>

      </div>
      </div>
      
        <label for="">Author</label>
        <div class="form-control">
      <input class="form-control" #author ="ngModel" name= "author" [(ngModel)] = "newQuote.author">
      <div [hidden]="author.valid || author.pristine" >
        <p>Field Cannot be empty</p>
        </div>
      </div>
      
        <label for="">Editor</label>
        <div class="form-control">
      <input class="form-control" #name ="ngModel" name= "name" [(ngModel)] = "newQuote.name">
      <div [hidden]="name.valid || name.pristine" >
        <p>Field Cannot be empty</p>
        </div>
      </div><br>
        
       
          <label for="complete">Date</label>
          <div class="form-group">
          <input type='date' id="complete" required name = "completeDate" [(ngModel)] = "newQuote.creationDate" #creationDate = "ngModel" >
            <div [hidden] = "creationDate.value || creationDate.pristine" class = "alert alert danger">
              <p>Date is required</p>
            </div>
      </div><br><br>
      <div class="form-group center">
        <button type = "submit"class= "btn btn-lg">Create</button>
      </div>
    </form>
  </div>

</div>
